<!DOCTYPE html>
<html lang="en">
<header class="top-menu">
  <h1>Projet Node Et React</h1>

  <nav>
    <ul>
      <li><a href="javascript:void(0)" (click)="returnAccueil()">Accueil</a></li>
      <li><a href="#">Profil</a></li>
    </ul>
  </nav>
</header>

<body>
<div>

  <form (ngSubmit)="onSubmitCours()">
    <h2>Créer un cours</h2>

    <div class="form-group">
      <label for="titreCours">Titre du cours</label>
      <input type="text" class="form-control" id="titreCours" name="titreCours" [(ngModel)]="titreCours" required>
    </div>

    <div class="form-group">
      <label for="descriptionCours">Description du cours</label>
      <textarea class="form-control" id="descriptionCours" name="descriptionCours" [(ngModel)]="descriptionCours" required></textarea>
    </div>

    <div class="form-group">
      <label for="idMatiereCours">Nom de la matière</label>
      <select class="form-control" id="idMatiereCours" name="idMatiereCours" [(ngModel)]="selectedMatiere" required>
        <option *ngFor="let matiere of listeMatieres" [value]="matiere">{{ matiere }}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Valider</button>
  </form>
</div>

<div style="margin-top: 50px;"></div>

<div>

  <form>
    <h2>Supprimer un cours</h2>

    <div class="form-group">
      <label for="MatiereCoursId">Nom de la matière</label>
      <select class="form-control" id="MatiereCoursId" name="MatiereCoursId" [(ngModel)]="matiereChoisie" required>
        <option *ngFor="let subject of listeTTMatieres" [value]="subject">{{ subject }}</option>
      </select>
      <div style="margin-top: 20px;"></div>
      <button type="button" class="btn btn-primary" (click)="onFetchCoursForMatiere()">Récupérer les cours</button>
    </div>

    <div style="margin-top: 30px;"></div>

    <div class="form1">
      <label for="CoursMatiereId">Cours disponible pour la matière</label>
      <select class="form-control" id="CoursMatiereId" name="CoursMatiereId" [(ngModel)]="coursChoisie" required>
        <option *ngFor="let cours of listeTTCours" [value]="cours">{{ cours }}</option>
      </select>
      <!-- Bouton pour supprimer le cours sélectionné -->
      <div style="margin-top: 20px;"></div>
      <button type="button" class="btn btn-danger" (click)="onDeleteSelectedCourse()">Supprimer le cours sélectionné</button>
    </div>
  </form>
</div>
</body>

<footer class="footer">
  <p>&copy; Projet Node Et React. Tous droits réservés.</p>
  <p>Alexandre Bernard , Jérémy Beugnon et Théo Besse</p>
  <p>ESILV A4 : CDOF1</p>
</footer>
</html>
