<!DOCTYPE html>
<html lang="en">
<header class="top-menu">
  <h1>Projet Node Et React</h1>

  <nav>
    <ul>
      <li><a href="javascript:void(0)" (click)="returnAccueil()">Accueil</a></li>
      <li><a href="#">Profil</a></li>
    </ul>
  </nav>
</header>
<body>


  <h2>Créer une matière</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nomMatiere">Nom de la matière</label>
      <input type="text" class="form-control" id="nomMatiere" name="nomMatiere" [(ngModel)]="nomMatiere" required>
    </div>

    <div class="form-group">
      <label for="descriptionMatiere">Description</label>
      <textarea class="form-control" id="descriptionMatiere" name="descriptionMatiere" [(ngModel)]="descriptionMatiere" required></textarea>
    </div>

    <!-- Bouton de validation -->
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>

  </body>

<footer class="footer">
  <p>&copy; Projet Node Et React. Tous droits réservés.</p>
  <p>Alexandre Bernard , Jeremy Beugnon et Théo Besse</p>

</footer>
</html>


