<p>creation-cours works!</p>

<!-- creation-cours.component.html -->

<div>
  <h2>Créer une matière</h2>

  <form (ngSubmit)="onSubmit()">
    <!-- Champ pour le nom de la matière -->
    <div class="form-group">
      <label for="nomMatiere">Nom de la matière</label>
      <input type="text" class="form-control" id="nomMatiere" name="nomMatiere" [(ngModel)]="nomMatiere" required>
    </div>

    <!-- Champ pour la description -->
    <div class="form-group">
      <label for="descriptionMatiere">Description</label>
      <textarea class="form-control" id="descriptionMatiere" name="descriptionMatiere" [(ngModel)]="descriptionMatiere" required></textarea>
    </div>

    <!-- Bouton de validation -->
    <button type="submit" class="btn btn-primary">Valider</button>
  </form>
</div>


<button (click)="returnAccueil()">Retourner à l'accueil</button>
