<!DOCTYPE html>
<html lang="en">
<header class="top-menu">
  <h1>Projet Node Et React</h1>

  <nav>
    <ul>
      <li><a href="javascript:void(0)" (click)="returnAccueil()">Accueil</a></li>
      <li><a href="#">Profil</a></li>
    </ul>
  </nav>
</header>
<body>


<form (ngSubmit)="onSubmit()">
  <h2>Créer une matière</h2>

  <div class="form-group">
    <label for="nomMatiere">Nom de la matière</label>
    <input type="text" class="form-control" id="nomMatiere" name="nomMatiere" [(ngModel)]="nomMatiere" required>
  </div>

  <div class="form-group">
    <label for="descriptionMatiere">Description</label>
    <textarea class="form-control" id="descriptionMatiere" name="descriptionMatiere" [(ngModel)]="descriptionMatiere" required></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Valider</button>
</form>

<form (ngSubmit)="onSup()">
  <h2>Supprimer une matière</h2>

  <div class="form-sup">
    <label for="nomMatiereCours">Nom de la matière</label>
    <select class="select-matiere" id="nomMatiereCours" name="nomMatiereCours" [(ngModel)]="selectedMatiere" required>
      <option *ngFor="let matiere of listeMatieres" [value]="matiere">{{ matiere }}</option>
    </select>
  </div>

  <button type="submit" class="btn supression">Valider</button>

</form>
</body>

<footer class="footer">
  <p>&copy; Projet Node Et React. Tous droits réservés.</p>
  <p>Alexandre Bernard , Jeremy Beugnon et Théo Besse</p>
  <p>ESILV A4 : CDOF1</p>


</footer>
</html>
