<!DOCTYPE html>
<html lang="en">
<header class="top-menu">
  <h1>Projet Node Et React</h1>

  <nav>
    <ul>
      <li><a href="javascript:void(0)" (click)="returnAccueil()">Accueil</a></li>
      <li><a href="#">Profil</a></li>
    </ul>
  </nav>
</header>
<body>
<div>
  <h2>Leçons Disponibles</h2>
  <ul>
    <li *ngFor="let lesson of lessons">
      {{ lesson.packageName }} <!-- Modifier selon la structure des données reçues -->

    </li>
  </ul>

</div>
</body>

<footer class="footer">
  <p>&copy; Projet Node Et React. Tous droits réservés.</p>
  <p>Alexandre Bernard , Jeremy Beugnon et Théo Besse</p>
  <p>ESILV A4 : CDOF1</p>


</footer>
</html>
