<!DOCTYPE html>
<html lang="en">
<header class="top-menu">
  <h1>Projet Node Et React</h1>

</header>
<body>
<header>
  <div class="menu">
    <a href="#">À propos</a>
    <a href="#">Contact</a>
  </div>
</header>

<div class="container">
  <h1 class="title">Connexion - Anki</h1>

  <div class="input-group">
    <input type="text" placeholder="Nom d'utilisateur" />
  </div>

  <div class="input-group">
    <input type="password" placeholder="Mot de passe" />
  </div>

  <button (click)="seConnecter()">Connexion</button>

</div>

</body>
<footer class="footer">
  <p>&copy; Projet Node Et React. Tous droits réservés.</p>
  <p>Alexandre Bernard , Jeremy Beugnon et Théo Besse</p>
  <p>ESILV A4 : CDOF1</p>


</footer>
</html>

