<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ma Web App</title>
</head>
<body>
<header class="top-menu">
  <h1>Projet Node Et React</h1>

  <nav>
    <ul>
      <li><a href="javascript:void(0)" (click)="returnAccueil()">Accueil</a></li>
      <li><a href="#">Profil</a></li>
    </ul>
  </nav>
</header>

<aside class="side-menu">
  <ul>
    <li><a href="javascript:void(0)" (click)="redirectToSelectPage()">Voir nos cours</a></li>
    <li><a href="javascript:void(0)" (click)="redirectToCreateCourses()">Création ou supression des Matière</a></li>
    <li><a href="javascript:void(0)" (click)="redirectToCreateCours()">Création ou ou supression des Cours</a></li>
    <li><a href="javascript:void(0)" (click)="redirectToQuestions()">Question</a></li>
    <li><a href="javascript:void(0)" (click)="redirectToStatistic()">Statistique</a></li>
  </ul>
</aside>

<main class="main-content">
  <div class="content">
  </div>
  <button class="logout-button" (click)="seDeconnecter()">Se déconnecter</button>

</main>

<footer class="footer">
  <p>&copy; Projet Node Et React. Tous droits réservés.</p>
  <p>Alexandre Bernard , Jeremy Beugnon et Théo Besse</p>
  <p>ESILV A4 : CDOF1</p>


</footer>
</body>
</html>

