<!DOCTYPE html>
<html lang="en">

<header class="top-menu">
  <h1>Projet Node Et React</h1>

  <nav>
    <ul>
      <li><a href="javascript:void(0)" (click)="returnAccueil()">Accueil</a></li>
      <li><a href="#">Profil</a></li>
    </ul>
  </nav>
</header>

<body>
  <div class="form-group">
    <h2>Sélectionner un cours :</h2>
    <select class="form-control" id="selectCours" name="selectedCourse" [(ngModel)]="selectedCourseIdVariable">
      <option value="" disabled selected>cours</option>
      <option *ngFor="let course of courseList" [value]="course.id">{{ course.title }}</option>
    </select>
  </div>

  <div class="form-group">
    <button (click)="validerCours()">Validation</button>
  </div>

  <div>

    <!-- Display the current question -->
    <div *ngIf="questions.length > 0 && currentQuestionIndex < questions.length">
      <h2>Question {{ currentQuestionIndex + 1 }}</h2>
      <p>{{ questions[currentQuestionIndex].Question }}</p>
      <!-- Add answer options or other question details as needed -->

      <!-- Display buttons for selecting difficulty levels -->
      <button (click)="selectDifficulty('easy')">Easy</button>
      <button (click)="selectDifficulty('medium')">Medium</button>
      <button (click)="selectDifficulty('hard')">Hard</button>

      <!-- Button to move to the next question -->
      <button (click)="nextQuestion()">Next Question</button>
    </div>

    <!-- Display a message when all questions are answered -->
    <div *ngIf="currentQuestionIndex == questions.length">
      <p>All questions answered. You can reset or go back to the home page.</p>
      <button (click)="returnAccueil()">Go Back to Home</button>
    </div>
  </div>

</body>

<button (click)="returnAccueil()">Retourner à l'accueil</button>

<footer class="footer">
  <p>&copy; Projet Node Et React. Tous droits réservés.</p>
  <p>Alexandre Bernard , Jérémy Beugnon et Théo Besse</p>
  <p>ESILV A4 : CDOF1</p>
</footer>
</html>
