<!--
<button type="button" class="btn btn-primary"
        (click)="onClickSubmit()">Submit</button>
-->

<button class="btn btn-primary" routerLink="/lesson/1234">Detail for
  lesson/1234</button>

<a routerLink="/">Home</a>

<p>lesson-edit-form works!</p>



This is your main app page..
It should contain header, menu,

<!--
<div class="container app-border">
  <div class="row">
    <div class="col-md-2 app-border">Row 1 Column 1</div>
    <div class="col-md-2">Row 1 Column 2</div>
  </div>
  <div class="row">
    <div class="col-md-2">Row 2 Column 1</div>
    <div class="col-md-2 app-border">Row 2 Column 2</div>
  </div>
</div>
-->

<!--

<div class="container">
  <div class="row">
    <div class="col-md-2">Row 1 Column 1</div>
    <div class="col-md-2">Row 1 Column 2</div>
  </div>
  <div class="row">
    <div class="col-md-2">Row 2 Column 1</div>
    <div class="col-md-2">Row 2 Column 2</div>
  </div>
</div>
-->

<!--
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <label for="title">Title:</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="title" name="title" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="description">Description:</label>
    </div>
    <div class="col-md-9">
      <textarea id="description" name="description"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="category">Category:</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="category" name="category" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="level">Level:</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="level" name="level" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="prerequisite">Prerequisite:</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="prerequisite" name="prerequisite" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="tags">Tags:</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="tags" name="tags" value="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <label for="copyright">Copyright:</label>
    </div>
    <div class="col-md-9">
      <input type="text" id="copyright" name="copyright" value="">
    </div>
  </div>
</div>
-->


<div class="container">
  <div class="row mt-2">
    <label class="col-md-1" for="title">Title</label>
    <input id="itle" type="text" class="col-md-5">
  </div>
  <div class="row mt-2">
    <label class="col-md-1" for="description">Description</label>
    <textarea id="description" class="col-11" rows="4"></textarea>
  </div>
  <div class="row mt-2">
    <label class="col-md-1" for="category">Category</label>
    <input id="category" type="text" class="col-md-2">
    <label class="col-md-1" for="level" ngbTooltip="Enter value between
1(basics) to 10(advanced)" placement="top">Level</label>
    <input id="level" type="number" class="col-md-1" min="1" max="10">
    <label class="col-md-1" for="prerequisites">Prerequisite</label>
    <input id="prerequisites" type="text" class="col-md-6">
  </div>
  <div class="row mt-2">
    <label class="col-md-1" for="Tags" ngbTooltip="Enter tags, separated by
commas" placement="top">Tags</label>
    <input id="tags" type="text" class="col-md-11" placeholder="Enter
tags">
  </div>
  <div class="row mt-1">
    <label class="col-md-1" for="license">License</label>
    <input id="license" type="text" class="col-md-5">
  </div>
  <div class="row mt-2">
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>


<input id="title" type="text" class="col-md-5"
       formControlName="title">

<textarea id="description" class="col-11" rows="4"
          formControlName="description"></textarea>



<div class="row mt-2">
  <label class="col-md-2"></label>
  <button type="button" class="btn btn-primary col-md-2"
          (click)="onSubmit()"
          [disabled]="!lessonForm.valid"
  >Submit</button>
  <span *ngIf="lessonForm.invalid" class="col-md-8 text-danger">
 Please fill out all required fields.
 </span>
</div>



<label class="col-md-1" for="title"
       [class]="lessonForm.get('title')?.invalid ? 'text-danger' : ''"
>Title</label>

<label class="col-md-1" for="description"
       [class]="lessonForm.get('description')?.invalid ? 'text-danger' : ''"
>Description</label>


<router-outlet></router-outlet>

And then footer
